Repository YaroslavKSE/BeatRate, pull requests merged in 2025-05, with the labels that each got.

#112 Development frontend lists
  backend/MusicInteraction/MusicInteraction.Infrastructure/PostgreSQL/PostgreConfig/PostgreSQLDependencyInjection.cs
  backend/MusicInteraction/MusicInteraction.Infrastructure/PostgreSQL/Services/ItemStatsInitializerService.cs
  backend/MusicLists/MusicLists.Application/Commands/InsertListItemCommand.cs
  backend/MusicLists/MusicLists.Application/IMusicListsStorage.cs
  backend/MusicLists/MusicLists.Application/UseCases/InsertListItemUseCase.cs
  backend/MusicLists/MusicLists.Infrastructure/MusicListsStorage.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/lists.ts
  frontend/src/components/Album/AlbumContentTabs.tsx
  frontend/src/components/Album/AlbumHeader.tsx
  frontend/src/components/Lists/AddItemModal.tsx
  frontend/src/components/Lists/AddToListModal.tsx
  frontend/src/components/Lists/CreateListModal.tsx
  frontend/src/components/Lists/ListRowItem.tsx
  frontend/src/components/Song/SongContentTabs.tsx
  frontend/src/components/Song/SongHeader.tsx
  frontend/src/components/common/InListsTab.tsx
  frontend/src/components/common/ListTabRow.tsx
  frontend/src/pages/ListDetailsPage.tsx
  frontend/src/pages/ListEditPage.tsx
  frontend/src/pages/Lists.tsx
  frontend/src/utils/axios-factory.ts
Labels: P0

#115 Added authorisation for interaction service
  backend/MusicCatalogService/Dockerfile
  backend/MusicInteraction/Dockerfile
  backend/MusicInteraction/MusicInteraction.Infrastructure/Auth0/Auth0Settings.cs
  backend/MusicInteraction/MusicInteraction.Presentation/Controllers/GradingMethodController.cs
  backend/MusicInteraction/MusicInteraction.Presentation/Controllers/InteractionController.cs
  backend/MusicInteraction/MusicInteraction.Presentation/Controllers/ReviewInteractionController.cs
  backend/MusicInteraction/MusicInteraction.Presentation/MusicInteraction.Presentation.csproj
  backend/MusicInteraction/MusicInteraction.Presentation/Program.cs
  backend/MusicInteraction/MusicInteraction.Presentation/appsettings.Development.json
  backend/MusicInteraction/MusicInteraction.Presentation/appsettings.json
  backend/MusicLists/Dockerfile
  backend/MusicLists/MusicLists.Infrastructure/Auth0/Auth0Settings.cs
  backend/MusicLists/MusicLists.Presentation/Controllers/MusicListsController.cs
  backend/MusicLists/MusicLists.Presentation/MusicLists.Presentation.csproj
  backend/MusicLists/MusicLists.Presentation/Program.cs
  backend/MusicLists/MusicLists.Presentation/appsettings.Development.json
  backend/MusicLists/MusicLists.Presentation/appsettings.json
  backend/UserService/src/Dockerfile
  backend/UserService/src/UserService.API/UserService.API/Program.cs
  backend/docker-compose.yml
Labels: enhancement, MusicInteraction

#119 Auth sessesion prolongation
  backend/UserService/src/UserService.API/UserService.API/Controllers/AuthController.cs
  backend/UserService/src/UserService.API/UserService.API/Models/Requests/RefreshTokenRequest.cs
  backend/UserService/src/UserService.API/UserService.API/Models/Responses/UserProfileResponse.cs
  backend/UserService/src/UserService.Application/UserService.Application/Commands/RefreshTokenCommand.cs
  backend/UserService/src/UserService.Application/UserService.Application/Handlers/Auth/RefreshTokenCommandHandler.cs
  backend/UserService/src/UserService.Application/UserService.Application/Handlers/Preferences/GetUserPreferencesByIdQueryHandler.cs
  backend/UserService/src/UserService.Application/UserService.Application/Handlers/Preferences/GetUserPreferencesByUsernameQueryHandler.cs
  backend/UserService/src/UserService.Application/UserService.Application/Interfaces/IAuth0Service.cs
  backend/UserService/src/UserService.Application/UserService.Application/Queries/Preferences/GetUserPreferencesByIdQuery.cs
  backend/UserService/src/UserService.Application/UserService.Application/Validators/Auth/RefreshTokenCommandValidator.cs
  backend/UserService/src/UserService.Application/UserService.Application/Validators/Users/UpdateUserProfileCommandValidator.cs
  backend/UserService/src/UserService.Infrastructure/UserService.Infrastructure/Models/Auth0/Requests/Auth0RefreshTokenRequest.cs
  backend/UserService/src/UserService.Infrastructure/UserService.Infrastructure/Services/Auth0Service.cs
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/components/auth/TokenRefreshManager.tsx
  frontend/src/store/authStore.ts
  frontend/src/utils/axios-factory.ts
Labels: enhancement, frontend, UserService
